.tbAspirantes {
    display: block;
    height: 400px;
    overflow-y: scroll;
    border-collapse: collapse;

}
.tbAspirantes tr {
    border:  1px solid;
}
th {
    /*background-image: url(../images/bg.gif);*/
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #ccc;
    cursor: pointer;
    padding: 5px 15px 5px 5px;
}
.tbAspirantes td {
    padding: 3%;
}