

#botonIniciarSesion, #botonRegistro, #submitIniciarSesion{

	margin-top: 20px
	
}

.inputInicio, .inputRegistro{
	width: 30%; 
	height: 10%;
	margin-top: 10px;

	
}
.inputna{
	width: 15%;
	height: 10%;
	margin-top: 10px
}

#submitIniciarSesion{
	width: 30%;
	height:10%;
	margin-top: 10px;
}
.word-with-line{
	width:100%; text-align:center; border-bottom: 1px solid #94b43b; line-height:0.1em; margin:30px 0 20px;

}
.word{
	background:#dddddd; padding:0 10px;
}
.google{

	margin-top: 10px;
}
.width{
	width: 100%;

}